div.sidetext{
/*    margin-left: 350px;*/
    margin-bottom: 35px;
}
div.ipfshash{
/*    margin-left: 350px;*/
    margin-bottom: 35px;
}
div.joinnetwork{
/*    margin-left: 350px;*/
    margin-bottom: 35px;
}
div.buttons{
/*    margin-left: 350px;*/
    margin-bottom: 35px;
}
p{
    display: inline;
    white-space: nowrap;
}
/* Solid border */
hr.solid {
  border-top: 3px solid #000;
}